Makefile
Makefile.in
/aclocal.m4
/autom4te.cache/
/config.*
/configure
/stamp-h?
.deps/
.dirstamp
*.o
*.lo
*.la
*.pc
*~
/compile
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
software/linux/dwl/.libs
software/linux/h264high/.libs
software/linux/jpeg/.libs
software/linux/mpeg4/.libs
software/linux/pp/.libs
software/linux/vp8/.libs
software/source/common/.libs
